<div class="locations-table-filter" [formGroup]="locationsTableFilter" ngrxForm="locationsTableFilter">

  <mat-form-field class="table-id-filter" appearance="standard" floatLabel="always">
    <mat-label>ID filter</mat-label>
    <input matInput #name type="number" placeholder="" formControlName="id" />
    <mat-error>
      Please enter valid Id number
    </mat-error>
  </mat-form-field>

  <mat-form-field class="table-function-filter" appearance="standard" floatLabel="always">
    <mat-label>Function filter</mat-label>
    <mat-select formControlName="function">
      <mat-option value="">
      </mat-option>
      <mat-option value="AIRPORT">
        AIRPORT
      </mat-option>
      <mat-option value="RAIL_TERMINAL">
        RAIL_TERMINAL
      </mat-option>
      <mat-option value="SEAPORT">
        SEAPORT
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="table-name-filter" appearance="standard" floatLabel="always">
    <mat-label>Name filter</mat-label>
    <input matInput #name type="text" placeholder="" formControlName="name" minlength="1" maxlength="60"/>
    <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint>
    <mat-error>
      Please enter valid Name
    </mat-error>
  </mat-form-field>

  <button class="table-filter-button" mat-stroked-button (click)="filterEvent()">
    Filter
  </button>

</div>