.locations-table-filter {
    padding: 10px 0px 0px 0px;
}

.table-id-filter {
    width:150px;
    margin-left:20px;
}

.table-function-filter {
    width:120px;
    margin-left:50px;
}

.table-name-filter {
    margin-left:30px;
    width:510px;
}

.table-filter-button {
    margin-left:25px;
    width:75px;
    top:-5px;
}