<mat-card>
  <mat-card-content>

    <app-locations-table-filter>
    </app-locations-table-filter>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>

    <app-locations-table>
    </app-locations-table>

  </mat-card-content>
</mat-card>