<div class="locations-form" [formGroup]="locationsForm" ngrxForm="locationsForm">

  <div class="row-form">

    <mat-form-field class="form-name" appearance="fill" floatLabel="always">
      <mat-label>Name</mat-label>
      <input matInput #name type="text" placeholder="" formControlName="name" minlength="1" maxlength="60" />
      <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint>
      <mat-error>
        Please enter valid Name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-normalized-name" appearance="fill" floatLabel="always">
      <mat-label>Name Normalized</mat-label>
      <input matInput #normalizedName type="text" placeholder="" formControlName="normalizedName" minlength="1"
        maxlength="60" />
      <mat-hint align="end">{{normalizedName.value?.length || 0}}/60</mat-hint>
      <mat-error>
        Please enter valid Name (lower case
        and without diacritics)
      </mat-error>
    </mat-form-field>

  </div>

  <div class="row-form" [formGroup]="coordinatesForm">

    <mat-form-field class="form-latitude" appearance="fill" floatLabel="always">
      <mat-label>Latitude (in degrees)</mat-label>
      <input matInput #latitudeInDegrees type="number" placeholder="" formControlName="latitudeInDegrees" min="-90"
        max="90" maxlength="10" />
      <mat-error>
        The latitude must be a number between -90 and 90
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-longitude" appearance="fill" floatLabel="always">
      <mat-label>Longitude (in degrees)</mat-label>
      <input matInput #longitudeInDegrees type="number" placeholder="" formControlName="longitudeInDegrees" min="-180"
        max="180" maxlength="10" />
      <mat-error>
        The longitude must be a value between -180 and 180
      </mat-error>
    </mat-form-field>
  </div>


  <div class="address-form" [formGroup]="addressForm">

    <mat-form-field class="form-street-name" appearance="fill" floatLabel="always">
      <mat-label>Street Name </mat-label>
      <input matInput #streetName type="text" placeholder="" formControlName="streetName" minlength="1"
        maxlength="60" />
      <mat-error>
        Please enter valid Street Name
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field class="form-city" appearance="fill" floatLabel="always">
      <mat-label>City </mat-label>
      <input matInput #city type="text" placeholder="" formControlName="city" minlength="1" maxlength="60" />
      <mat-error>
        Please enter valid City
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field class="form-country" appearance="fill" floatLabel="always">
      <mat-label>Country</mat-label>
      <input matInput #country type="text" placeholder="" formControlName="country" minlength="2" maxlength="2" />
      <mat-error>
        Please enter valid Country
        (must hold a two-letter country code)
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field class="form-continent" appearance="fill" floatLabel="always">
      <mat-label>Continent</mat-label>
      <mat-select formControlName="continent">
        <mat-option value="AFRICA">
          AFRICA
        </mat-option>
        <mat-option value="ANTARCTICA">
          ANTARCTICA
        </mat-option>
        <mat-option value="ASIA">
          ASIA
        </mat-option>
        <mat-option value="EUROPE">
          EUROPE
        </mat-option>
        <mat-option value="NORTH_AMERICA">
          NORTH_AMERICA
        </mat-option>
        <mat-option value="OCEANIA">
          OCEANIA
        </mat-option>
        <mat-option value="SOUTH_AMERICA">
          SOUTH_AMERICA
        </mat-option>
      </mat-select>
      <mat-error>
        Please enter valid Continent
      </mat-error>
    </mat-form-field>

  </div>

  <mat-form-field class="form-function" appearance="fill" floatLabel="always">
    <mat-label>Function </mat-label>
    <mat-select formControlName="function">
      <mat-option value="AIRPORT">
        AIRPORT
      </mat-option>
      <mat-option value="RAIL_TERMINAL">
        RAIL_TERMINAL
      </mat-option>
      <mat-option value="SEAPORT">
        SEAPORT
      </mat-option>
    </mat-select>
    <mat-error>
      Please enter valid Function
    </mat-error>
  </mat-form-field>

  <br />

  <button class="button-save" mat-stroked-button (click)="saveEvent()" *ngIf="!locationsFormData?.form?.resourceId">
    Create
  </button>
  
  <button class="button-save" mat-stroked-button (click)="updateEvent()" *ngIf="locationsFormData?.form?.resourceId">
    Update
  </button>

</div>