<div class="layout">

  <div class="navigation">
    <button mat-raised-button color="primary" (click)="createLocationEvent()"> Create Location </button>
    <button mat-raised-button routerLink="/locations"> List Locations </button>
  </div>

  <router-outlet></router-outlet>

</div>