.layout {
    display: flex;           
    flex-direction: column;  
    align-items: center;    
}

.navigation {
    display: flex;           
    flex-direction: row;  
    justify-content: right;    
    width: 1035px;
}

button {
  margin: 20px 10px 20px 0px;
}