<table mat-table [dataSource]="tableDataSource" matSort (matSortChange)="sortEvent($event)">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource ID </th>
    <td mat-cell *matCellDef="let element">
      {{element.resourceId}}
    </td>
  </ng-container>

  <ng-container matColumnDef="function">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Function </th>
    <td mat-cell *matCellDef="let element">
      {{element.function}}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element">
      {{element.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button (click)="updateEvent(element)">
        Update
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;" [ngClass]="{'failed': row.failed, 'self': row.circular}">
  </tr>
</table>

<mat-paginator (page)="paginatorEvent($event)" [length]="tablePaginator.length"
  [pageIndex]="tablePaginator.pageIndex" [pageSize]="tablePaginator.pageSize"
  [pageSizeOptions]="tablePaginator.pageSizeOptions"></mat-paginator>