
.mat-header-cell.cdk-column-id.mat-column-id {
    min-width: 200px;
}

.mat-header-cell.cdk-column-function.mat-column-function {
    min-width: 150px;
}

.mat-header-cell.cdk-column-name.mat-column-name {
    min-width: 530px;
}

.mat-header-cell.cdk-column-actions.mat-column-actions {
    min-width: 80px;
}