/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-color: #f7f7f7;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0,0,0,.02);
}